@model VerifyMe.Models.Students

@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about-section-four" style="margin-top:100px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
    @using (Html.BeginForm("AddStudent", "AllStudents", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="main-grid-border">
            <div class="container">
                <h2 class="card-title text-center">Add a new Student</h2>
                <hr />
                <div>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MatricNumber, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.MatricNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MatricNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Course, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Course, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.YearOfGraduation, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.YearOfGraduation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.YearOfGraduation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.YearOfMatriculation, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.YearOfMatriculation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.YearOfMatriculation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.DropDownList("Sex", new SelectList(Enum.GetValues(typeof(VerifyMe.Models.Sex))), "Select Sex", new {@class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.CertificateNumber, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.CertificateNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CertificateNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <center style="margin-top:30px;">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Add" class="btn btn-primary" />
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
                </div>
            </div>
                }
            </div>
        </div>
                </div>
        </div>
    </div>
</section>
