@model VerifyMe.Models.Students

@{
    ViewBag.Title = "DeleteStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about-section-four" style="margin-top:100px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">

                        <h2 class="card-title text-center">Delete Confirmation</h2>

                        <h3>Are you sure you want to delete this?</h3>
                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ApplicationUserId)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FirstName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LastName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MiddleName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MiddleName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DateOfBirth)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DateOfBirth)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MatricNumber)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MatricNumber)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Course)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Course)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.YearOfGraduation)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.YearOfGraduation)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.YearOfMatriculation)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.YearOfMatriculation)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Sex)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Sex)
                                </dd>


                                <dt>
                                    @Html.DisplayNameFor(model => model.CertificateNumber)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CertificateNumber)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-primary" /> |
                                    @Html.ActionLink("Click here to view all students", "Index")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
